<div class="mat-elevation-z8">

  <!-- Loading -->
  <div class="loading"  *ngIf="loading; else elseBlock">
    <mat-spinner></mat-spinner>
  </div>

  <!-- Table -->
  <ng-template #elseBlock>
    <table mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="CustomerId">
        <th mat-header-cell *matHeaderCellDef>Id</th>
        <td mat-cell *matCellDef="let element">
          <b>{{ element.customerId }}</b>
        </td>
      </ng-container>

      <ng-container matColumnDef="ContactName">
        <th mat-header-cell *matHeaderCellDef>Contact Name</th>
        <td mat-cell *matCellDef="let element">{{ element.contactName }}</td>
      </ng-container>

      <ng-container matColumnDef="OrdersCount">
        <th mat-header-cell *matHeaderCellDef>Orders Count</th>
        <td mat-cell *matCellDef="let element">{{ element.ordersCount }}</td>
      </ng-container>

      <ng-container matColumnDef="GotoCustomerOrders">
        <th mat-header-cell *matHeaderCellDef>Customer Orders</th>
        <td mat-cell *matCellDef="let element">
          <app-home-grid-button
            [customerId]="element.customerId"
            [route]="this.pathOrders"
          ></app-home-grid-button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </ng-template>

  <!-- Pagination bar -->
  <mat-paginator
    [length]="defaultPageSize"
    [pageSize]="defaultPaginatorPageSize"
    [pageSizeOptions]="[5, 10, 25, 100]"
    showFirstLastButtons
  >
  </mat-paginator>
</div>
